#cards_container{
    margin: auto;
    margin-top: 3%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;

    li {
        margin: 2% 1%;
        .card {
            box-shadow: #2A2C38 0px 0px 3px;
            border-radius: 0;

            .card_description {
                height: 70px;
                overflow-y: auto;
            }

            #buttons_div {
                text-align: center;
                button {
                    border-radius: 0;
                    width: 35%;
                    margin-inline: 3.5%;
                }
            }
        }

    }
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   

::-webkit-scrollbar-thumb {
    background: #888; 
}
  

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}